<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <title>TEAMDUTY</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


    <link href="~/Content/Indexcss.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Layoutcss.css" rel="stylesheet" />

    <!-- Core CSS - Include with every page -->

    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />




</head>
<body>



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">




        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Image/iStock_000018521148Medium-1500x600.jpg" class="img-responsive" />
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Welcome to TEAMDUTY</h1>
                        <p>Web Application to Find Software HR & Work </p>
                        @*<p>this is an example layout with carousel that uses the bootstrap 3 styles.
                            < small><p>*@
                            <p>
                            </p>
                       
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Image/home.jpg" class="img-responsive" />
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Very Easy to Find</h1>
                        <p>Our Web Support Usebilty for User</p>

                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Image/renocollective2.jpg" class="img-responsive">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Best Friend Software HR</h1>
                        <p>We will try to do best for Software industry on Web application</p>

                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
    <!-- /.carousel -->
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" style="background-color:#D8D8D8;">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-circle" src="~/Image/open-uri20130709-31126-gi1v5y.jpeg" />
                <h2>Software Contract</h2>
                <p>Web Application Place to Contract between Software HR & Work.</p>

            </div>
            <div class="col-md-4 text-center">
                <img class="img-circle" src="~/Image/images.jpg" />
                <br />
                <br />

                <h2>No paper</h2>
                <p>No Need a paper easy to work together via web application </p>

            </div>
            <div class="col-md-4 text-center">
                <img class="img-circle" src="~/Image/reasons-to-smile-01-bess431-140x140.jpg" />
                <h2>As required</h2>
                <p>Can choose Work or HR As required</p>

            </div>
        </div><!-- /.row -->








    </div><!-- /.container -->
    <!-- /#wrapper -->
    <!-- Core Scripts - Include with every page -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @*<script src="Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>*@

    <!-- Page-Level Plugin Scripts - Blank -->
    <!-- SB Admin Scripts - Include with every page -->
    <script src="~/Scripts/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Blank - Use for reference -->
</body>
</html>
    